<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAN-uVJlk_BFaL4eYKt-VBNC4YFFs2aRnU</string>
	<key>GCM_SENDER_ID</key>
	<string>469958364918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ayurscan</string>
	<key>PROJECT_ID</key>
	<string>ayurscan-1f0f7</string>
	<key>STORAGE_BUCKET</key>
	<string>ayurscan-1f0f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469958364918:ios:69a953fb15e5ffb5bde6d7</string>
</dict>
</plist>